<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">
    <head>
	<title>{{ page.title }} | {{ site.title }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{% if page.description %}{{ page.description }} {% else %}{{ site.description }}{%endif%}">
	<link rel=icon href="{{ "/assets/favicon.ico" | relative_url }}" sizes="16x16 32x32" type="image/vnd.microsoft.icon">
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    </head>
    <body>
	<h1>{{ page.title }}</h1>
	{{ content}}
    </body>
</html>
